.funfacts-scroll-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.funfacts-scroll {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-bottom: 10px;
  min-width: max-content;
}

.funfacts__card {
  flex: 0 0 auto;
  width: 250px; /* adjust to fit your design */
}

.funfacts-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.funfacts-scroll-wrapper {
  scrollbar-width: none;
}

/* carosel */
.blockchain-carosel-section {
  background: transparent;
  padding: 40px 0;
  overflow: hidden;
}

.carosel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carosel-track {
  display: flex;
  gap: 40px;
  animation: scroll-left 25s linear infinite;
}

.carosel-track::after {
  content: "";
  display: flex;
}

.carosel-item {
  flex-shrink: 0;
  min-width: 150px;
  height: auto;
  padding: 0 40px; 
}


.carosel-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.carosel-item span {
  font-weight: 600;
  font-size: 16px;
  display: block;
}

/* Scroll animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carosel-position {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


/* Responsive */
@media (max-width: 768px) {
  .carosel-item {
    min-width: 120px;
    padding: 15px;
  }

  .carosel-item span {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .ag-margin {
    margin: 40px;
  }
}


@media (min-width: 992px) {
  .ag-margin-carousol {
    margin: 0 400px;
  }
}


@media (min-width: 992px) {
  .ag-height {
    height: 800px;
  }
}

/* fun card css */

.fun-size {
  height: 300px;
  width: 400px;
}


.agency-services {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: brown;
	border-radius: 100%;
	font-size: 22px;
	color: #FFF;
  margin-bottom: 20px;
}

/* Checks */

.package-checklist {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 16px;
}

.package-checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.check-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #5b5e5c; /* green */
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
  flex-shrink: 0;
}


.funfacts__card img {
  width: auto;
  height: auto;
  object-fit: cover;   /* Makes image cover the box */
  border-radius: inherit; /* Keeps same rounded corners as parent if any */
  display: block;      /* Removes extra whitespace under images */
}


.agency-color {
  background-color: #93148b !important;
}