<!-- Footer CTA -->
{% if not isLogin %}

<section  class="footer-cta inflanar-bg-cover section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-cta__inner inflanar-scolor-bg">
                    <div class="footer-cta__content">
                        <h3 class="footer-cta__title text-white">Let influencers do the heavy lifting for your marketing campaign</h3>
                        <a href="#" class="inflanar-btn inflanar-btn__third"><span>Signup Now!</span></a>
                    </div>
                    <div class="footer-cta__img">
                        <img src="/static/img/in-footer-cta.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- End Footer CTA -->

<!-- Footer -->
<footer class="footer-area footer-area--v2 p-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-top-inner pd-top-30 pd-btm-100">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Footer Widget -->
								<div class="footer-about-widget">
									<div class="footer-logo inflanar-header__logo">
										<a class="logo" href="index.html"><img src="/static/img/scrap3-logo-black.png"
												alt="#"></a>
									</div>
									<h4 class="footer-about-widget__title">Want to Create Something <span>Great
											Together?</span></h4>
									<div class="footer-get-touch">
										<p>Get in Touch.. <a href="index.html"><span class="__cf_email__"
													data-cfemail="e088858c8c8fa091958f8d8f848f898e868fce838f8d">info@Scrap3.com</span></a>
										</p>
									</div>

								</div>
								<!-- End Footer Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Footer Widget -->
                            <div class="single-widget footer-useful-links">
                                <h3 class="widget-title">Quick Links</h3>
                                <ul class="footer__list list-none">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#choose">Why Choose Us</a></li>
                                    <li><a href="#how_it_works">How it Works</a></li>
                                    <li><a href="#campaing">Campaings</a></li>
                                    <li><a href="#testimonials">Testimonials</a></li>
                                    <li><a href="#contact">Advertize With Us</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Footer Widget -->
                            <div class="single-widget footer-contact">
                                <h3 class="widget-title">Working Hour</h3>
                                <div class="f-contact__form-top">
                                    <ul class="f-contact-list list-none">
                                        <li>Mon - Fri: 7.00am - 6.00pm</li>
                                        <li>Sat: 7.00am - 6.00pm</li> 
                                    </ul>
                                </div>
                            </div>
                            <!-- End Footer Widget -->

                            <!-- Footer Widget -->
                            <div class="single-widget footer-contact mg-top-30">
                                <h3 class="widget-title">Our Location</h3>
                                <div class="f-contact__form-top">
                                    <p>Dhaka | Remote</p>
                                </div>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                    </div>
                </div>	
            </div>
        </div>		
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright__inner">
                        <!-- Copyright Text --> 
                        <p class="copyright-text">Copyright @2023 All rights reserved <a href="#" target="_blank">Scrap3 Team</a></p>
                        <!-- Social -->
                        <ul class="inflanar-social inflanar-social__v2">
                            <li><a href="https://x.com/scrap3xyz"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="https://x.com/scrap3xyz"><i class="fa-brands fa-behance"></i></a></li>
                            <li><a href="https://x.com/scrap3xyz"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://x.com/scrap3xyz"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="https://x.com/scrap3xyz"><i class="fa-brands fa-facebook-f"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
            </div>
        </div>	
    </div>
    <!-- End Copyright -->
</footer>
<!-- End Footer -->	

<!-- Scrool Top -->
<a href="#" class="scrollToTop"><img src="/static/img/in-scroll-up.svg"></a>

<!-- Jquery JS -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-migrate.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Aos JS -->
<script src="/static/js/aos.min.js"></script>
<!-- CK Editor JS -->
<script src="/static/js/ckeditor.min.js"></script>
<!-- Select2 JS-->
<script src="/static/js/select2-js.min.js"></script>
<!-- Video Popup JS -->
<script src="/static/js/video-popup.min.js"></script>
<!-- Swiper SLider JS -->
<script src="/static/js/swiper-slider.min.js"></script>
<!-- Flex SLider JS -->
<script src="/static/js/flex-slider.html"></script>
<!-- Waypoints JS -->
<script src="/static/js/waypoints.min.js"></script>
<!-- Counterup JS -->
<script src="/static/js/jquery.counterup.min.js"></script>
<!-- Easing JS -->
<script src="/static/js/easing.min.html"></script>
<!-- Main JS -->
<script src="/static/js/active.js"></script>

</body>

<!-- Mirrored from quomodothemes.website/html/inflanar/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Nov 2024 23:26:02 GMT -->
</html>